<div class="person_box">

<!-- This is a Person Box  -->


<div style="float: right">
<img src=" {{ include.photo }}" alt=" {{ include.title }} class="center">
</div>

<h1 class="title"><a href="{{ include.url }}">{{ include.title }}</a></h1>

<p><span class="bold">Position:</span> {{ include.position }} </p>

<p><span class="bold">Address:</span>  {{ include.address }} </p>

<p><span class="bold">Telephone:</span>  {{ include.telephone }} </p>

<p><span class="bold">E-mail:</span>  {{ include.email }} </p>

<p><span class="bold">Skype:</span>  {{ include.skype }} </p>

<p><span class="bold">Twitter:</span>  {{ include.twitter }} </p>

</div>
