<div class="person_box" >

<!-- This is a Person Box  -->


<div style="float:right">
<img src=" {{ include.photo }}" height=auto width="150" alt=" {{ include.title }} class="center">
</div>

<h1 class="title"><a href="{{ include.url }}">{{ include.title }}</a></h1>

<p><span class="bold">Position:</span> {{ include.position }} </p>
{% if include.website != null %}
{% if include.website.size > 0 %}
<p><span class="bold">Website:</span> <a href={{ include.website }}>{{ include.website }}</a> </p>
{% endif %}
{% endif %}
{% if include.address != null %}
{% if include.address.size > 0 %}
<p><span class="bold">Address:</span>  {{ include.address }} </p>
{% endif %}
{% endif %}
{% if include.telephone != null %}
{% if include.telephone.size > 0 %}
<p><span class="bold">Telephone:</span>  {{ include.telephone }} </p>
{% endif %}
{% endif %}
{% if include.email != null %}
{% if include.email.size > 0 %}
<p><span class="bold">E-mail:</span> {{ include.email }}</p>
{% endif %}
{% endif %}
{% if include.skype != null %}
{% if include.skype.size > 0 %}
<p><span class="bold">Skype:</span>  {{ include.skype }} </p>
{% endif %}
{% endif %}
{% if include.twitter != null %}
{% if include.twitter.size > 0 %}
<p><span class="bold">Twitter:</span>  <a href="https://twitter.com/{{ include.twitter }}">{{ include.twitter }}</a></p>
{% endif %}
{% endif %}
</div>
