---
---



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bold {
  font-weight:bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.person_box {
    float: center;
    background-color: white;
    width: 700px;
    border: 5px solid grey;
    padding: 5px;
    margin: 5px;
}

