---
layout: default
title: Research Group
category: group
---

<!-- This is index for the Group  -->

<link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/site.css">

<img src="https://wiki.cam.ac.uk/wiki/ajmorris/img_auth.php/8/83/Group-ajm4.png">


{% for post in site.posts reversed %}
  {% if post.categories contains 'group' %}
	<div class="post">

{% include person_box.html url = post.url title = post.title photo=post.photo position=post.position address=post.address telephone=post.telephone email=post.email skype=post.skype twitter=post.twitter %}


	</div>
<br/>
  {% endif %}
{% endfor %}

<h2> Previous Group Members </h2>

{% for post in site.posts %}
  {% if post.categories contains 'previous_group' %}
        <div class="post">

{% include person_box.html url = post.url title = post.title photo=post.photo position=post.position address=post.address telephone=post.telephone email=post.email skype=post.skype twitter=post.twitter %}


        </div>
<br/>
  {% endif %}
{% endfor %}
