---
layout: default
title: Research Group
category: group
---

<!-- This is index for the Group  -->

<link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/site.css">


{% include group_photo_box.html %}


<a href="/group/previous-group-photos.html">Group Photo Archive</a>

{% for post in site.posts reversed %}
  {% if post.categories contains 'current' %}
        <div class="post">

{% include person_box.html url = post.url title = post.title photo=post.photo position=post.position website=post.website address=post.address telephone=post.telephone email=post.email skype=post.skype twitter=post.twitter %}


	    </div>
<br/>
  {% endif %}
{% endfor %}

<h2> Previous Group Members </h2>

{% for post in site.posts %}
  {% if post.categories contains 'previous' %}
        <div class="post">

{% include prev_person_box.html postmorris=post.postmorris url = post.url title = post.title photo=post.photo position=post.position website=post.website address=post.address telephone=post.telephone email=post.email skype=post.skype twitter=post.twitter %}


        </div>
<br/>
  {% endif %}
{% endfor %}


<div>
<h2>Other Members</h2>
<ul>
<li>Francois Sherwood -- Summer Student (2015)</li>
<li>David Wharton -- NanoCDT Project (2015), PhD Cavendish</li>
<li>Darren Valentine -- MPhil Chemistry Project (2014-2015) PhD Oxford</li>
<li>Ed Tait -- NanoCDT Project (2014) PhD Cavendish in Nicholas Hine's group</li>
<li>Hugh Glass -- NanoCDT Project (2013) PhD Cavendish in Sian Dutton's group (2017) </li>
</ul>
</div>
